<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ORDERS</title>
</head>
<body>
<h1>Pedidos</h1>
<button style="margin: 10px;">
<a href="http://localhost:8000/list_orders">Mostrar pedidos</a>
</button></br>
<button style="margin: 10px;">
<a href="http://localhost:8000/add_order">Añadir un pedido</a>
</button></br>
<button style="margin: 10px;">
<a href="http://localhost:8000/delete_order">Eliminar un pedido</a>
</button></br></br>
<button style="margin: 10px;">
<a href="http://localhost:8000/">Volver</a>
</button>
</body>
</html>